<!DOCTYPE html>
    <html>
        <head>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
            <title>College Enquiry System</title>
            
        </head>
        <body style="background-image: url('static/images/intro.jpg');background-attachment: fixed;background-size: cover;">
            
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div style="position: absolute; left: 100px; "> 
                <a href="/signup"><button type="button" class="btn btn-outline-light btn-md">SignUp</button></a>
                <a href="/signin"><button type="button" class="btn btn-outline-light btn-md">SignIn</button></a>
            </div>
            


        </body>
    </html>