{% extends 'main.html' %}
{% block content %}
<br><br>
<div class="container" style="background-color: black; border-radius: 0.5em;width:81.5em;display: flex; background: rgba(60, 60, 60,0.7);">
        <a href="/admin">
            <h5>
                <span class="badge rounded-pill bg-light text-dark" style="padding:10px; margin-top: 10px;">
                    Go to Admin Page
                </span>
            </h5>
        </a>
</div>
<br>
<br>
<div style="text-align: center;">
    <a href = "/manageusers"><span class="badge rounded-pill bg-light text-dark">Manage Users</span></a>
    <a href = "/createcourse"><span class="badge rounded-pill bg-light text-dark">Create Course</span></a>
    <a href = "/manageenquiry"><span class="badge rounded-pill bg-light text-dark">Manage Enquiry</span></a>
    <a href = "/logout"><span class="badge rounded-pill bg-light text-dark" >Logout</span></a>
</div>
<br>
<br>
<div>
    <div class="opacity-100">
        <div class="container bg-light p-2 text-dark" style="width:50%;height:200%; padding:20px; border-radius: 15px;">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                      <th scope="col">User Id</th>
                      <th scope="col">Email</th>
                      <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in userslist %}
                        <tr>
                            <td>{{user[0]}}</td>
                            <td>{{user[1]}}</td>
                            <td>
                                <a href="/deleteuser/{{user[0]}}">
                                    <button type="submit" class="btn btn-danger btn-sm rounded-pill">
                                        Delete User
                                    </button>
                                </a>
                            
                            </td>
                        </tr>
                     {% endfor %}
                </tbody>
            </table>
     
{% endblock %}